.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.blueBackGround {
  background-color: #c00ffe;
}

.slider {
  margin-bottom: 20px;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #c00ffe;
}

.appContainer {
  background-image: ;
}

.editor {
  width: 500px;
  height: 500px;
  flex-direction: "column";
  background-color: #c00ffe;
}

.goButton {
  width: 100%;
  margin-bottom: 30px;
  background-color: #c00ffe;
}

.Stage {
  width: 500px;
  height: 500px;
}

.App-header {
  background-color: #c00ffe;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.main-canvas {
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
