.App {
  text-align: center;
}

.starText {
  align-items: "center";
  background-color: #c00ffe;
  width: 50px;
  height: 50px;
}

.listItems {
  flex-direction: row;
}

.flexMe {
  display: flex;
}

.grow {
  flex-grow: 1;
  text-align: center;
  vertical-align: center;
}

.centerText {
  text-align: center;
}

.scroller {
  width: 100%;
  margin: 0 auto;
  height: 500px;
  overflow: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.blueBackGround {
  background-color: #c00ffe;
}

.shorten {
  margin-bottom: 50px;
}

.stage {
  width: "100%";
  height: "80%";
}

.slider {
  margin-top: 40px;
  margin-bottom: 20px;
}

.backgroundImage {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #c00ffe;
}

.navBar {
  background-color: #624689;
  font-family: ChalkBoard SE;
  flex-direction: row;
}

.greyBackGround {
  background-color: #7a7a7a;
}

.appContainer {
  background-image: ;
}

.editor {
  width: 500px;
  height: 500px;
  flex-direction: "column";
  background-color: #c00ffe;
}

.goButton {
  width: 100%;
  margin-bottom: 10px;
  background-color: #FA7268;
}

.Stage {
  width: 500px;
  height: 500px;
}

.App-header {
  background-color: #c00ffe;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.main-canvas {
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
